@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>Sports and Teams</h1></center>
    <p class="lead" style="font-size: 40px; color: red; font-family: fantasy">This website gives out the information about the Famous Sports and their Teams.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <center>
            <h2>Basketball</h2></center>
    <p style="font-size: 20px; color: black; font-family: fantasy; background-color: lightgrey">
        Basketball is a team sport in which two teams of five players, opposing one another on a rectangular court,
        compete with the primary objective of shooting a basketball (approximately 9.4 inches (24 cm) in diameter)
        through the defender's hoop (a basket 18 inches (46 cm) in diameter mounted 10 feet (3.048 m) high to a backboard
        at each end of the court) while preventing the opposing team from shooting through their own hoop.
        <br>
        <br>

        <center><img src="~/Content/photos/basketball.png" height="50%" width="60%" /></center>
    </p>
</div>
    <div class="col-md-4">
        <center>
            <h2>Soccer</h2></center>
    <p style="font-size: 20px; color: black; font-family: fantasy; ">
        Association football, more commonly known as football or soccer, is a team sport played between two teams of eleven
        players with a spherical ball. It is played by 250 million players in over 200 countries and dependencies, making it
        the world's most popular sport. The game is played on a rectangular field called a pitch with a goal at each end.
        The object of the game is to score by moving the ball beyond the goal line into the opposing goal.
        <br>
        <br>

        <center><img src="~/Content/photos/football.png" height="50%" width="60%" /></center>
    </p>
</div>
    <div class="col-md-4">
        <center>
            <h2>Baseball</h2></center>

    <p style="font-size: 20px; color: black; font-family: fantasy; background-color: lightgrey">
        Baseball is a bat-and-ball game played between two opposing teams who take turns batting and fielding.
        The game proceeds when a player on the fielding team, called the pitcher, throws a ball which a player
        on the batting team tries to hit with a bat. The objectives of the offensive team (batting team) are to
        hit the ball into the field of play, and to run the bases—having its runners advance counter-clockwise
        around four bases to score what are called "runs".
        <br>
        <center><img src="~/Content/photos/Baseball.png" height="50%" width="60%" /></center>
    </p>
</div>
</div>